ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

li {
  border: solid 1px black;
  margin: 1rem;
}

.circle {
  border-radius: 50%;
}

/* Colors */
.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.purple {
  background-color: purple;
}

/* Sizes */
.small {
  width: 25px;
  height: 25px;
}

.medium {
  width: 50px;
  height: 50px;
}

.large {
  width: 100px;
  height: 100px;
}

.x-large {
  width: 200px;
  height: 200px;
}